# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:

* List of popular languages for Data Science
* List of common libraries for Data Science
* list of open source Data Science tools

Some of the popular languages that Data Scientists use are:

1. Python
2. Julia
3. Java
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. Pytorch
3. Scikit-Learn
4. Numpy

|Data Science Tools|
|:---|
|Jupyter Notebook |
|Spyder |
|VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author: 
Peiman Kazemi